* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(7, 47, 124, 0.82), #100763, #072F7C); /* Add gradient background with three colors */
    margin: 0;
}

.card {
    background-color: white;
}



.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 20px;
}

.home-text-section {
    text-align: left;
    margin-right: 20px;
}

.primary-heading {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-right: 10%;
    color: #FFFFFF;
}

.primary-text {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #FFFFFF;

}

.secondary-button-1 {
    background-color: #93ACED;
    color: #000000;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 45%;
    border-color:#FFFFFF;

}

.secondary-button-1:hover {
    background-color: #0b5f6ec2;
    color: #000000;
}

.home-image-section {
    text-align: right;
}

.home-image-section img {
    max-width: 110%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .home-banner-container {
        margin-top: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .home-text-section {
        padding: 2rem;
        text-align: center;
    }

    .home-image-section {
        padding: 2rem;
        text-align: center;
    }

    .home-image-section img {
        max-width: 100%;
    }
}

.about-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-1 {
    margin-top: 0%;
    margin-bottom: 5%;
    width: 70vw;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{
    width: 100%;
    text-align: center;
}
.header h1{
    font-size: 40px;
    text-transform: uppercase;
    color: var(--textColor);
}
.members{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.member{

    position: relative;
    background-color: var(--sectionBack);
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
.member:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:100%;
    height: 50%;
    display: grid;
    place-content: center;
}
.image img{
    width: 120px;
}
.name-member{
    width: 100%;
    margin : 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.name-member h3{
    font-size: 1.3em;
    text-transform: capitalize;
    color: var(--textColor);
}

.member p{
    font-size: 18px;
    line-height: 25px;
}
.stars svg{
    font-size: 1.3em;
    color: var(--starColor);
}
.pro{
    position: relative;
    bottom: 20px;
    align-items: center;
}
.pro button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.pro button:hover{
    transform: scale(1.1);
}
.work-section-wrapper {
    max-width: 1200px;
    margin-top: 7%;
    margin-left: 10%;
    padding: 0 20px;
}

.work-section-top {
    text-align: center;
}

.work-section-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-section-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.work-section-info {
    width: 300px;
    margin: 20px;
    text-align: center;
}

.info-boxes-img-container {
    max-width: 70%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 15%;
}

.info-boxes-img-container img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.info-boxes-caption {
    margin-top: 20px;
    text-align: center;

}

.info-boxes-caption h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-boxes-caption p {
    font-size: 16px;
    margin-bottom: 20px;
}

.numb {
    margin-top: 10px;
    margin-left: 65px;
}
.logo-image {
    width: 60px;
    height: auto;
}