* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(65, 98, 187, 0.82), #4137b9, #2e5ab0); /* Add gradient background with three colors */
    margin: 0;
}

.card {
    background-color: white;
}



.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 20px;
}

.home-text-section {
    text-align: left;
    margin-right: 20px;
}

.primary-heading {
    font-family: 'Inter', sans-serif;
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: 10%;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    animation: fadeInDown 0.8s ease-in-out;
}

.primary-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f5f5f5;
    text-align: justify;
    animation: fadeInUp 1s ease-in-out;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.secondary-button-1 {
    background-color: #93ACED;
    color: #000000;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 45%;
    border-color:#FFFFFF;

}

.secondary-button-1:hover {
    background-color: #0b5f6ec2;
    color: #000000;
}

.home-image-section {
    text-align: right;
}

.home-image-section img {
    max-width: 110%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .home-banner-container {
        margin-top: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .home-text-section {
        padding: 2rem;
        text-align: center;
    }

    .home-image-section {
        padding: 2rem;
        text-align: center;
    }

    .home-image-section img {
        max-width: 100%;
    }
}

.about-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-1 {
    margin-top: 0%;
    margin-bottom: 5%;
    width: 70vw;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{
    width: 100%;
    text-align: center;
}
.header h1{
    font-size: 40px;
    text-transform: uppercase;
    color: var(--textColor);
}
.members{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.member{

    position: relative;
    background-color: var(--sectionBack);
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
.member:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:100%;
    height: 50%;
    display: grid;
    place-content: center;
}
.image img{
    width: 120px;
}
.name-member{
    width: 100%;
    margin : 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.name-member h3{
    font-size: 1.3em;
    text-transform: capitalize;
    color: var(--textColor);
}

.member p{
    font-size: 18px;
    line-height: 25px;
}
.stars svg{
    font-size: 1.3em;
    color: var(--starColor);
}
.pro{
    position: relative;
    bottom: 20px;
    align-items: center;
}
.pro button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.pro button:hover{
    transform: scale(1.1);
}


.numb {
    margin-top: 10px;
    margin-left: 65px;
}
.logo-image {
    width: 60px;
    height: auto;
}